<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.performance.dao.CaseDOMapper">

    <resultMap id="BaseResultMap" type="com.performance.po.CaseDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="precondition" jdbcType="VARCHAR" property="precondition"/>
        <result column="step" jdbcType="VARCHAR" property="step"/>
        <result column="script_address" jdbcType="VARCHAR" property="scriptAddress"/>
        <result column="desired_result" jdbcType="VARCHAR" property="desiredResult"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, precondition, step, script_address, desired_result, creator, modifier, remarks,
    is_valid, create_time, modify_time
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cpt.`case`
        where id = #{id,jdbcType=BIGINT}
        and is_valid = #{isValid,jdbcType=TINYINT}
    </select>

    <select id="selectCase" parameterType="com.performance.query.CaseQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cpt.`case`
        where
        is_valid = 1
        <if test="name != null">
            and name like concat('%',concat(#{name,jdbcType=VARCHAR},'%'))
        </if>
        <if test="creator != null">
            and creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="modifier != null">
            and modifier = #{modifier,jdbcType=VARCHAR}
        </if>
        order by create_time desc
        <if test="index != null and pageSize != null">
            limit #{index},#{pageSize};
        </if>
    </select>

    <select id="selectCaseCount" parameterType="com.performance.query.CaseQuery" resultType="int">
        select
        count(1)
        from cpt.`case`
        where
        is_valid = 1
        <if test="name != null">
            and name like concat('%',concat(#{name,jdbcType=VARCHAR},'%'))
        </if>
        <if test="creator != null">
            and creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="modifier != null">
            and modifier = #{modifier,jdbcType=VARCHAR}
        </if>
        order by create_time desc
    </select>

    <select id="selectCaseListByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cpt.`case`
        where
        is_valid = 1
        <if test="!ids.isEmpty()">
            and id in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

    <insert id="insert" parameterType="com.performance.po.CaseDO">
    insert into cpt.`case` (id, name,
      precondition, step, script_address, 
      desired_result, creator, modifier, remarks,
      is_valid, create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{precondition,jdbcType=VARCHAR}, #{step,jdbcType=VARCHAR}, #{scriptAddress,jdbcType=VARCHAR}, 
      #{desiredResult,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR}, 1, NOW(), NOW())
  </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.performance.po.CaseDO">
        update cpt.`case`
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="precondition != null">
                precondition = #{precondition,jdbcType=VARCHAR},
            </if>
            <if test="step != null">
                step = #{step,jdbcType=VARCHAR},
            </if>
            <if test="scriptAddress != null">
                script_address = #{scriptAddress,jdbcType=VARCHAR},
            </if>
            <if test="desiredResult != null">
                desired_result = #{desiredResult,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime == null">
                modify_time = NOW(),
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update cpt.`case`
    set is_valid = 0,
    modify_time = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>