<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.performance.dao.DevicesDOMapper">
    <resultMap id="BaseResultMap" type="com.performance.pojo.DevicesDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="system_type" jdbcType="TINYINT" property="systemType"/>
        <result column="system_version" jdbcType="VARCHAR" property="systemVersion"/>
        <result column="core" jdbcType="TINYINT" property="core"/>
        <result column="ram" jdbcType="VARCHAR" property="ram"/>
        <result column="network" jdbcType="TINYINT" property="network"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="mac_address" jdbcType="VARCHAR" property="macAddress"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="resolution" jdbcType="VARCHAR" property="resolution"/>
        <result column="connect_status" jdbcType="TINYINT" property="connectStatus"/>
        <result column="use_status" jdbcType="TINYINT" property="useStatus"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>
    </resultMap>

    <sql id="column_list">
    id, device_name, system_type, system_version, core, ram, network, ip, mac_address,
    brand, model, resolution, connect_status, use_status, create_time, is_valid, modify_time
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="column_list"/>
        from devices
        where id = #{id,jdbcType=BIGINT}
        and is_valid = 1
    </select>

    <select id="deduplication" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="column_list"/>
        from devices
        where is_valid = 1
        <if test="deviceName != null and ip != ''">
            and device_name = #{deviceName,jdbcType=VARCHAR}
        </if>
        <if test="ip != null and ip != ''">
            or ip = #{ip,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectDeviceByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="column_list"/>
        from devices
        where is_valid = 1
        <if test="ids != null">
            and id in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id,jdbcType=BIGINT}
            </foreach>
        </if>
        order by create_time desc
    </select>

    <select id="selectDeviceByIps" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="column_list"/>
        from devices
        where is_valid = 1
        <if test="ips != null">
            and ip in
            <foreach collection="ips" item="ip" index="index" open="(" separator="," close=")">
                #{ip,jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>

    <select id="selectDeviceList" parameterType="com.performance.pojo.DevicesDO" resultMap="BaseResultMap">
        select
        <include refid="column_list"/>
        from devices
        where is_valid = 1
        <if test="deviceName != null">
            and device_name like concat(#{deviceName,jdbcType=VARCHAR},'%')
        </if>
        <if test="systemType != null">
            and system_type = #{systemType,jdbcType=TINYINT}
        </if>
        <if test="systemVersion != null">
            and system_version = #{systemVersion,jdbcType=VARCHAR}
        </if>
        <if test="resolution != null">
            and resolution = #{resolution,jdbcType=VARCHAR}
        </if>
        <if test="connectStatus != null">
            and connect_status = #{connectStatus,jdbcType=TINYINT}
        </if>
        <if test="useStatus != null">
            and use_status = #{useStatus,jdbcType=TINYINT}
        </if>
        <if test="brand != null">
            and brand = #{brand,jdbcType=VARCHAR}
        </if>
        order by create_time desc
        <if test="index != null and pageSize != null">
            limit #{index},#{pageSize};
        </if>
    </select>

    <select id="selectDeviceListCount" parameterType="com.performance.pojo.DevicesDO" resultType="int">
        select
        count(1)
        from devices
        where is_valid = 1
        <if test="deviceName != null">
            and device_name like concat(concat(#{deviceName,jdbcType=VARCHAR},'%'))
        </if>
        <if test="systemType != null">
            and system_type = #{systemType,jdbcType=TINYINT}
        </if>
        <if test="systemVersion != null">
            and system_version = #{systemVersion,jdbcType=VARCHAR}
        </if>
        <if test="resolution != null">
            and resolution = #{resolution,jdbcType=VARCHAR}
        </if>
        <if test="connectStatus != null">
            and connect_status = #{connectStatus,jdbcType=TINYINT}
        </if>
        <if test="useStatus != null">
            and use_status = #{useStatus,jdbcType=TINYINT}
        </if>
        <if test="brand != null">
            and brand = #{brand,jdbcType=VARCHAR}
        </if>
        order by create_time desc
    </select>

    <select id="selectDevices" resultMap="BaseResultMap">
        select
        <include refid="column_list"/>
        from devices
        where is_valid = 1
        order by create_time desc
    </select>

    <insert id="insert" parameterType="com.performance.pojo.DevicesDO">
    insert into devices (id, device_name, system_type, 
      system_version, core,
      ram, network, ip, mac_address,
      brand, model, resolution, connect_status,
      use_status, is_valid, create_time,
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{deviceName,jdbcType=VARCHAR}, #{systemType,jdbcType=TINYINT},
      #{systemVersion,jdbcType=VARCHAR}, #{core,jdbcType=TINYINT}, #{ram,jdbcType=VARCHAR}, #{network,jdbcType=TINYINT},
      #{ip,jdbcType=VARCHAR}, #{macAddress,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR},
      #{resolution,jdbcType=VARCHAR}, #{connectStatus,jdbcType=TINYINT},#{useStatus,jdbcType=TINYINT}, 1, NOW(), NOW())
  </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.performance.pojo.DevicesDO">
        update devices
        <set>
            <if test="deviceName != null">
                device_name = #{deviceName,jdbcType=VARCHAR},
            </if>
            <if test="systemType != null">
                system_type = #{systemType,jdbcType=TINYINT},
            </if>
            <if test="systemVersion != null">
                system_version = #{systemVersion,jdbcType=VARCHAR},
            </if>
            <if test="core != null">
                core = #{core,jdbcType=TINYINT},
            </if>
            <if test="ram != null">
                ram = #{ram,jdbcType=VARCHAR},
            </if>
            <if test="network != null">
                network = #{network,jdbcType=TINYINT},
            </if>
            <if test="ip != null">
                ip = #{network,jdbcType=VARCHAR},
            </if>
            <if test="macAddress != null">
                mac_address = #{macAddress,jdbcType=VARCHAR},
            </if>
            <if test="brand != null">
                brand = #{brand,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="resolution != null">
                resolution = #{resolution,jdbcType=VARCHAR},
            </if>
            <if test="connectStatus != null">
                connect_status = #{connectStatus,jdbcType=TINYINT},
            </if>
            <if test="useStatus != null">
                use_status = #{useStatus,jdbcType=TINYINT},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.performance.pojo.DevicesDO">
    update devices
    set device_name = #{deviceName,jdbcType=VARCHAR},
      system_type = #{systemType,jdbcType=TINYINT},
      system_version = #{systemVersion,jdbcType=VARCHAR},
      core = #{core,jdbcType=TINYINT},
      ram = #{ram,jdbcType=VARCHAR},
      network = #{network,jdbcType=TINYINT},
      ip = #{ip,jdbcType=VARCHAR},
      mac_address = #{macAddress,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      resolution = #{resolution,jdbcType=VARCHAR},
      connect_status = #{connectStatus,jdbcType=TINYINT},
      use_status = #{useStatus,jdbcType=TINYINT},
      modify_time = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>

    <update id="updateConnectStatus" parameterType="java.util.Map">
        update devices
        set connect_status = #{connectStatus,jdbcType=TINYINT},
        modify_time = NOW()
        where is_valid = 1
        and id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteByPrimaryKey" parameterType="java.util.List">
        update devices
        set is_valid = 0,
        modify_time = NOW()
        where
        id in
        <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>