<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.performance.dao.ExecutionTaskDOMapper">
  <resultMap id="BaseResultMap" type="com.performance.pojo.ExecutionTaskDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="threads" jdbcType="VARCHAR" property="threads" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="interval" jdbcType="VARCHAR" property="interval" />
    <result column="forever" jdbcType="TINYINT" property="forever" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="modify_time" jdbcType="VARCHAR" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, threads, frequency, interval, forever, plan_id, is_valid, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from execution_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from execution_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.performance.pojo.ExecutionTaskDO">
    insert into execution_task (id, threads, frequency, 
      interval, forever, plan_id, 
      is_valid, create_time, modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{threads,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}, 
      #{interval,jdbcType=VARCHAR}, #{forever,jdbcType=TINYINT}, #{planId,jdbcType=BIGINT}, 
      #{isValid,jdbcType=TINYINT}, #{createTime,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.performance.pojo.ExecutionTaskDO">
    insert into execution_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="threads != null">
        threads,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="interval != null">
        interval,
      </if>
      <if test="forever != null">
        forever,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="threads != null">
        #{threads,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="interval != null">
        #{interval,jdbcType=VARCHAR},
      </if>
      <if test="forever != null">
        #{forever,jdbcType=TINYINT},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.performance.pojo.ExecutionTaskDO">
    update execution_task
    <set>
      <if test="threads != null">
        threads = #{threads,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="interval != null">
        interval = #{interval,jdbcType=VARCHAR},
      </if>
      <if test="forever != null">
        forever = #{forever,jdbcType=TINYINT},
      </if>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=BIGINT},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.performance.pojo.ExecutionTaskDO">
    update execution_task
    set threads = #{threads,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=VARCHAR},
      interval = #{interval,jdbcType=VARCHAR},
      forever = #{forever,jdbcType=TINYINT},
      plan_id = #{planId,jdbcType=BIGINT},
      is_valid = #{isValid,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>