<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.performance.dao.PlanCaseDOMapper">

    <resultMap id="BaseResultMap" type="com.performance.po.PlanCaseDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="plan_id" jdbcType="BIGINT" property="planId"/>
        <result column="case_id" jdbcType="BIGINT" property="caseId"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>
    </resultMap>

    <select id="selectCaseIdListByPlanId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select case_id
        from plan_case
        where is_valid = 1
        <if test="planId != null and planId != 0">
            and plan_id = #{planId,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectPlanIdListByCaseId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select case_id
        from plan_case
        where is_valid = 1
        <if test="caseId != null and caseId != 0">
            and case_id = #{caseId,jdbcType=BIGINT}
        </if>
    </select>

    <insert id="insertPlanCase" parameterType="com.performance.po.PlanCaseDO">
    insert into plan_case (id, plan_id, case_id, is_valid, create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{planId,jdbcType=BIGINT}, #{caseId,jdbcType=BIGINT}, 1, NOW(), NOW())
  </insert>

    <update id="deleteByPlanIds" parameterType="java.util.List">
        update plan_case
        set is_valid = 0,
        modify_time = NOW()
        where plan_id in
        <foreach collection="planIds" item="planId" index="index" open="(" separator="," close=")">
            #{planId,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="deleteByPlanIdAndCaseIds">
        update plan_case
        set is_valid = 0,
        modify_time = NOW()
        where plan_id = #{planId,jdbcType=TINYINT}
        and case_id in
        <foreach collection="caseIds" item="caseId" index="index" open="(" separator="," close=")">
            #{caseId,jdbcType=BIGINT}
        </foreach>
    </update>

</mapper>